<ion-view view-title="New Item">
  <ion-content class="">
      <div class="list">
          <label class="item item-input">
              <input ng-model="item.name" placeholder="Name" type="text">
          </label>
          <label class="item item-input">
              <input ng-model="item.description" placeholder="Description" type="text">
          </label>
          <label class="item item-input">
              <input ng-model="item.location.lat" type="text" disabled="disabled">
              <input ng-model="item.location.long" type="text" disabled="disabled">
          </label>
          
          <a ng-click="centerMapOnUser()" class="button button-icon icon ion-navigate">Find Me</a>
          <div id="mapContainer">
            <div id="map" data-tap-disabled="true"></div>
          </div>
          
          <div class="center">
            <center>
            <button class="button button-positive" ng-click="addItem(item)">Add</button>
            <button class="button button-negative" ng-click="cancel()">Cancel</button>
            </center>
          </div>
      </div>
  </ion-content>
</ion-view>
