<ion-view view-title="New Item">
  <ion-content class="padding">
      <div class="list">
          <label class="item item-input">
              <span class="input-label">Name</span>
              <input ng-model="item.name" type="text">
          </label>
          <label class="item item-input">
              <span class="input-label">Description</span>
              <input ng-model="item.description" type="text">
          </label>
          <label class="item item-input">
              <span class="input-label">Location</span>
              <input ng-model="item.location" type="text">
          </label>
          
          <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
          <div id="mapContainer">
            <div id="map" data-tap-disabled="true"></div>
          </div>
          
          <button class="button button-positive" ng-click="addItem(item)">Add</button>
          <button class="button button-negative" ng-click="cancel()">Cancel</button>
      </div>
  </ion-content>
</ion-view>
