<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{item.name}}">
  <ion-content class="">
    <h3>
      {{item.name}}
    </h3>
    <p>
      {{item.description}}
    </p>
    <p>
      {{item.location.lat}}, {{item.location.long}}
    </p>
    
    <div id="mapContainer">
      <div id="map" data-tap-disabled="true"></div>
    </div>
    
    <button class="button button-assertive button-full" ng-click="remove()">Delete</button>
  </ion-content>
</ion-view>
