<ion-view view-title="Info">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-divider">About WheresApp</div>
      <div class="item item-body">
        <div>
          <p>
            Have you ever misplaced something?  Would you like a handy way to keep track of
            commonly misplaced items?  Well, this app is for you!  Add an item to your list, 
            save its location, and let WheresApp help you find it the next time you're looking
            for it.
          </p>
        </div>
      </div>
      <div class="item item-divider">&copy;2015 Josh Gormley</div>
    </div>
  </ion-content>
</ion-view>
